<h1 class="center">Sélection d'un pokémons</h1>

<div class="container"> 
    <div  class="row">

        <div *ngFor="let pokemon of pokemonListe"  class="col m4 s6">
          <div class="card horizontal">

              <div class="card-image">
                <img [src]="pokemon.picture">
              </div>

                <div class="card-stacked">
                    <div class="card-content" > 
                        <p>name {{pokemon.name}}</p>
                        <p>HP {{pokemon.hp}}</p>
                        <p>CP {{pokemon.cp}}</p>
                    </div>
                </div>
            
            </div>
        </div>

    </div>
</div>

  