<h1 class="center">Sélection d'un pokémons</h1>

<div class="container"> 
    <div  class="row">

        <div *ngFor="let pokemon of pokemonListe"  class="col m4 s6">
          <div class="card horizontal" (click)="selectionPokemon(pokemon.id)" pokemonBorderCard="red">

              <div class="card-image">
                <img [src]="pokemon.picture">
              </div>

                <div class="card-stacked">
                    <div class="card-content" > 
                        <p>name {{pokemon.name}}</p>
                        <p>HP {{pokemon.hp}}</p>
                        <p>CP {{pokemon.cp}}</p>
                        <p>Date {{pokemon.created | date:"dd/mm/yyyy" }}</p>

                        <span *ngFor="let type of pokemon.types" 
                            class="{{ type | pokemonColorType}}">
                            {{type}}

                        </span>


                    </div>
                </div>
            
            </div>
        </div>

    </div>
</div>

  